html{
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-color:hsl(257, 40%, 49%);
    font-family: "Open Sans", serif;
}

.header{  
    padding: 40px 20px;
}

.principal{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.principal .container-esquerdo{
    display: flex;
    width: 100%;
}

.principal .container-esquerdo img{
  width: 100%;
  padding: 20px;
}

.principal .container-direito{
    display: flex;
    flex-direction: column;
}

.principal .container-direito .titulo{
    color: #fff;
    padding: 80px;
    font-size: 30px;
}

.principal .container-direito .texto p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 20px;
    color: #fff;
    font-size: 20px;
}

.principal .container-direito .registro .botao{
    display: flex;
    background-color: #fff;
    border-radius:30px;
    padding: 10px 40px;
    transition: 0,3s;
    width: 150px;
    gap: 50px;
}

.principal .container-direito .registro .botao:hover{
    background-color:hsl(300, 69%, 71%);
    color: #fff; 
}

.footer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.footer .rede-social a{
   margin: 20px;
    color: #fff;
    transition: 0.3s;
}

.footer .rede-social a:hover{
    color:hsl(300, 69%, 71%);
}

.footer .rede-social i{
    font-size: 20px;
}


