@media(max-width: 425px){
    .principal{
        display: flex;
        flex-direction: column;
    }

    .principal .container-esquerdo img{
        width: 500px;
    }

    .principal .container-direito .titulo{
        display: flex;
        font-size: 20px;
        width: 550px;
    }

    .principal .container-direito .texto {
        display: flex;
        text-align: center;
        width: 450px;
    }

    .principal .container-direito .registro .botao{
    
        
    }

    .footer{
        display: flex;
    }

    .footer .rede-social i{
        
        flex-direction: row;
    }
}